
.whatsapp-float {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;

  background: linear-gradient(135deg, #25D366, #1ebe5d);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(37, 211, 102, 0.35);
  transition: all 0.3s ease;
  z-index: 999;
}


.whatsapp-float:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 38px rgba(37, 211, 102, 0.45);
}


.whatsapp-float:active {
  transform: scale(0.95);
}


.whatsapp-float .wa-icon {
  animation: waPulse 2.2s infinite;
}

@keyframes waPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.whatsapp-float::after {
  content: "Chat with us";
  position: absolute;
  right: 64px;
  background: #111;
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0.3s;
}

.whatsapp-float:hover::after {
  opacity: 1;
}

.wa-svg {
  width: 26px;
  height: 26px;
  color: #fff; 
}

.whatsapp-float-img {
  position: fixed;
  bottom: 24px;
  right: 24px;

  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;

  background: #25D366;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 999;

  box-shadow: 0 10px 25px rgba(37, 211, 102, 0.35);
  transition: all 0.3s ease;
}


.whatsapp-float-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.whatsapp-float-img:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 38px rgba(37, 211, 102, 0.45);
}

.whatsapp-float-img:active {
  transform: scale(0.95);
}
