
.hero-minimal {
  width: 100%;
  min-height: 80vh;

  
  background-color: rgb(245, 239, 239);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 100px 80px 60px; 
}


.hero-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}


.hero-left {
  flex: 1;
  color: #fff;
}



.hero-btn {
  display: inline-block;
  background-color: #fff;
  color: #5948f0;
  padding: 12px 30px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #e0baba;
  color: #fff;
}


.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}


.hero-img-box {
  width: 380px;
  height: 320px;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 18px; 
  margin-left: 110px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}


.hero-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}


@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-right {
    margin-top: 30px;
  }


}


.hero-minimal h1 {
  font-size: 50px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 15px;
  padding-left: 28px;
  font-family: 'Times New Roman', Times, serif;

  letter-spacing: 0.5px;     

  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}

.hero-minimal p {
  max-width: 650px;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 28px;
  font-weight: 350;
  line-height: 1.5;         
  color: #000000;

  margin-bottom: 30px;

  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
  animation-delay: 0.2s;
}

.hero-btn {
  background-color: #5948f0;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #645f5f;
  color: #fff;
}
