.cart-page {
  padding: 40px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}
