.cart-page {
  padding: 40px;
  font-size: 20px;
  color: #000000;
  background-color: aliceblue;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}
