.home {
  font-family: Arial, Helvetica, sans-serif;
}


.hero {
  background: linear-gradient(to right, #111, #333);
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-btn {
  background: #fff;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 50px 20px;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Products */
.product-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-box {
  background: #fff;
  width: 220px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-box.new {
  border: 2px solid #000;
}
