.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 0 ;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  flex-wrap: wrap;
}


.footer-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-brand img {
  width: 80px;  
  height: 80px;
}

.footer-brand span {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 28px;
  font-weight: 500;
}


.footer-links {
  list-style: none;
  display: flex;
  gap: 28px;
  padding: 0;
  margin: 0;
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #bbbbbb;
}

.footer-bottom {
  border-top: 1px solid #2a2a2a;
  text-align: center;
  padding: 18px 0;
  font-size: 13px;
  color: #aaaaaa;
}
