.filters-panel {
  width: 260px;
  background-color: #e0e0e0;
  padding: 22px;
  height: 100vh;

  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
}

.filters-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 24px;
}

.filter-block {
  margin-bottom: 28px;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.filter-block h4 {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: 12px;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-item input {
  width: 16px;
  height: 16px;
}

.size-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.size-options span {
  text-align: center;
  padding: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background: #fff;
}

.size-options span:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.apply-btn {
  width: 100%;
  margin-top: 24px;
  padding: 12px;
  background: #f0e2e2;
  color: #000000;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  transition: 
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.apply-btn:hover {
  background: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

.apply-btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
